src/main/mule/devops-demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="00b53be6-0493-4eb5-9bab-1a0c96d63f8f">
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="devops-demoFlow" doc:id="d2dd4cd2-9952-40a1-b95e-65b83b517de9" >
		<http:listener doc:name="Listener" doc:id="c806a10a-aab9-42d0-ad7d-134d65b756ab" config-ref="HTTP_Listener_config" path="/getData"/>
		<logger level="INFO" doc:name="Logger" doc:id="98db3929-af9e-4903-8fdb-a753c1c00b02" message="DEVOPS DEMO"/>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="0b557fd0-4c18-40f6-8547-7cfe59d188d9" />
	</flow>
</mule>
